env==0.1.0
gym==0.21.0
matplotlib==3.7.5
numpy==1.24.4
pandas==2.0.3
scipy==1.15.3
seaborn==0.13.2
stable_baselines3==1.7.0
torch==2.4.1
mujoco-py==2.1.2.14
Cython<3
pandas==2.0.3
scikit-image==0.21.0
opencv-python==4.11.0.86
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tifffile==2023.7.10
torch==2.4.1
torchaudio==2.4.1
torchvision==0.20.0
triton==3.0.0
Werkzeug==3.0.6
yarg==0.1.9
zstandard==0.23.0
cachetools==5.5.2
contourpy==1.1.1
cycler==0.12.1
docker-pycreds==0.4.0
docopt==0.6.2
Farama-Notifications==0.0.4
fasteners==0.19
kiwisolver==1.4.7
lazy_loader==0.4
Markdown==3.7
importlib_resources==6.4.5